/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgreen;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar button {
    background-color: #24c40b;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 0.5rem; /* Adds margin between buttons */
    transition: .3s ease-in;
}

.navbar button:hover {
    color: black;
}
